/* change brand name font */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

/* make headerimage responsivex */
.back-image {
    background-size: cover;
    min-height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px;
    margin-top: 50px;
}

/* header image sub title */
.font-italic {
    font-size: 24px;
}

.main-heading {
    margin-top: 50px;
}


@media only screen and (max-width: 600px) {
    .main-heading {
        margin-top: 350px;
        text-align: center;
    }

}

.card:hover {
    margin-top: -10px;
    transition: all 0.5s linear;
}
